.cart{
    position: sticky;
    top: 0;
    padding: 20px 30px;
}


/* .cart-btn{
    
} */

.selected-items{
    background-color: darkcyan;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}