.product{
    width: 300px;
    height: 420px;
    border: 2px solid white;
    border-radius: 8px;
    position: relative;
}

.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
}

.product-info{
    margin: 0px 0px;
    padding-left: 13px;
    text-align: center;
}

.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}

.price{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}

.btn-cart{
    width: 100%;
    background-color:white;
    border: none;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart .btn-text{
    margin-right: 5px;
}

.btn-cart:hover{
    background-color: rgb(17, 187, 187);
}